@import "rightcard";
@import "leftcard";

.left-card,
.right-card {
  width: 100%;
  padding-top: 40px;

}

.left-card{
  @media screen and (max-width: 1200px) {
    padding-top: 0;
  }
}

.right-card{
  @media screen and (max-width: 1200px) {
    padding-bottom: 0;
    padding-top: 10px;
  }
}

.checkout-page {
  display: flex;
  justify-content: center;

  @media screen and (max-width: 1200px) {
    flex-direction: column-reverse;
  }
}

.checkout-main-page{
  min-height: 100vh;
  padding-bottom: 3.5625rem;
  position: relative;
  &::before{
    position: absolute;
    content: "";
    width: 50%;
    height: 100%;
    z-index: -1;
    box-shadow: 5px 0px 7.5px 0px #00000015;
    padding-right: 2.5rem;

    @media screen and (max-width: 1200px) {
      box-shadow: none;
      padding-right: 0;
    }
  }
}