@import "rightcard";
@import "leftcard";

.left-card,
.right-card {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 3.5625rem;
}

.left-card{
  @media screen and (max-width: 1200px) {
    padding-top: 0;
  }
}

.right-card{
  @media screen and (max-width: 1200px) {
    padding-bottom: 0;
    padding-top: 10px;
  }
}

.checkout-page {
  display: flex;
  justify-content: center;
  min-height: 100vh;

  @media screen and (max-width: 1200px) {
    flex-direction: column-reverse;
  }
}