.left-card {
    padding-right: 2.5rem;
    box-shadow: 5px 0px 7.5px -2px #00000015;

    @media screen and (max-width: 1200px) {
      padding-right: 0;
      box-shadow: none;
    }

    .shipping-wrapper, .payment-wrapper{
      animation-duration: .5s;
      animation-name: fadeIn;
    }

    .guaranteed{
        width: 100%;
        margin-bottom: 30px;
    }
  
    .logo {
      height: 60px;
      display: block;
      margin: 0 auto;
      @media screen and (max-width: 1200px) {
        display: none;
      }
    }
  
    .input,
    select {
      text-align: left;
      padding: 0 10px;
      letter-spacing: 0.05px;
      color: #717171;
      opacity: 1;
      border: 1px solid #ced4da;
      border-radius: 4px;
      width: 100%;
      margin-top: 9px;
      font-size: 18px;
      line-height: 42px;
      font-family: 'Hurme-Geometric-Sans-3-light';
      background: transparent;
      transition: box-shadow .25s ease-in-out;

      @media screen and (max-width: 410px) {
        font-size: 16px;
      }
  
      &:focus-within,
      :focus {
        color: #333;
        border: 0.5px solid #ced4da;
        box-shadow: 0 0 0 0.2rem #8686863d;
        outline: none;
        z-index: 2;
      }
    }


    label{
      user-select: none;
      padding: 10px 20px;
      letter-spacing: 0.05px;
      color: #212529;
      opacity: 1;
      border: 1px solid #ced4da;
      line-height: 42px;
      font-family: 'Hurme-Geometric-Sans-3-light';
      font-size: 18px;
      @media screen and (max-width: 410px) {
        padding: 10px;
        font-size: 16px;
      }
    }
  
    input,
    select {
      appearance: none;
    }

    #different-address-form{
      margin-top: 0;
      .input{
        margin-bottom: 0;
      }
      .input-wrapper{
        margin-top: 0;
      }
    }
  
    select {
      background-image: url(/assets/caret.png);
      background-size: 20px 20px, 5px 5px, 1px 1.5em;
      background-repeat: no-repeat;
      background-position: calc(100% - 10px) center;
    }
  
    .input-wrapper {
      margin-top: 20px;
      @media screen and (max-width: 1200px) {
        margin-top: 27px;
      }
    }
  
    .grid-2 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 15px;

      @media screen and (max-width: 576px) {
        grid-template-columns: 1fr;
        grid-gap: 0px;
      }
    }
    .grid-3 {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 15px;

      @media screen and (max-width: 576px) {
        grid-template-columns: 1fr;
        grid-gap: 0px;
      }
    }
  
    .title {
      letter-spacing: 0.07px;
      font-size: 1.25rem;
    }

    small{
      font-size: 12px;
    }
  
    .submit-button {
      display: flex;
      align-items: center;
      justify-content: center;
      background: #33b159;
      text-transform: uppercase;
      font-size: 23px;
      line-height: 1;
      font-family: 'Hurme-Geometric-Sans-3-bold';
      letter-spacing: 0;
      color: #fff;
      margin-top: 1rem;
      margin-bottom: 2rem;
      margin-left: auto;
      margin-right: 0;
      text-align: center;
      cursor: pointer;
      width: max-content;
      width: 350px;
      height: 55px;
      transition: all .25s ease-in-out;

      &:hover, &:focus{
        background: #10551f;
      }

      @media screen and (max-width: 576px) {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        margin-bottom: 1rem;
      }

      @media screen and (max-width: 1200px) {
        font-size: 18px;
        margin-bottom: 1.6875rem;
      }
    }
  
    .buttons-wrapper {
      display: flex;
      width: 100%;
      margin: 20px 0;
      .button {
        text-transform: uppercase;
        text-align: center;
        padding: 10px 0;
        font-size: 1.4375rem;
        letter-spacing: 2.73px;
        background: transparent;
        font-weight: normal;
        width: 50%;
        transition: all .25s ease-in-out;
        border: 1px solid #fff;
        border-bottom: 1px solid #ced4da;
        @media screen and (max-width: 1200px) {
          font-size: 18px;
        }
  
        &.active {
          box-shadow: 0px 3px 9px #33333333;
          border-bottom: 1px solid #ced4da00;
        }
        &.idle {

          border-bottom: 1px solid #ced4da;
          color: #ced4da;
          cursor: pointer;
          transition: all .25s ease-in-out;
          &:hover{
            border: 1px solid #ced4da;
          }
        }
      }
    }

    .payment-wrapper{
      display: none;

      label{
        @media screen and (max-width: 576px) {
          border: 0.5px solid #ced4da;
          border-top: none;

            &:first-child{
                border-top: 0.5px solid #ced4da;
            }
        }
      }
    }
  
    .payment {
      .header {
        margin: 0;
        margin-top: 9px;
      }

      .paypal{
        margin: 0;
      }

      .creditcard{
        background-image: url('/assets/CC.jpg');
        background-size: 231px 38px;
        background-repeat: no-repeat;
        background-position: calc(100% - 20px) center;

        @media screen and (max-width: 1200px) {
          background-size: 145px 24px;
        }
        @media screen and (max-width: 410px) {
          background-size: 100px;
        }
      }

      .input {
        background: #fff;
      }
    }
  
    .header {
      display: flex;
      align-items: center;
      cursor: pointer;
      position: relative;
      margin-top: 9px;

      @media screen and (max-width: 576px) {
        margin: 0;
      }
  
      input[type="radio"] {
        cursor: pointer;
        appearance: auto;
        height: 10px;
        width: 10px;
        border-radius: 50%;
        margin-right: 10px;
        border: 1px solid #717171;
        position: absolute;
        left: -9999px;
  
        &:checked {
          border: 3px solid #717171;
        }
  
        &:checked + span {
          &:before {
            box-shadow: inset 0 0 0 4px #9b9c9b;
          }
        }
      }
  
      span {
        display: flex;
        align-items: center;
        border-radius: 99em;
        transition: 0.25s ease;
  
        &:before {
          display: flex;
          flex-shrink: 0;
          content: "";
          background-color: #fff;
          width: 1em;
          height: 1em;
          border-radius: 50%;
          margin-right: 0.375em;
          transition: 0.25s ease;
          box-shadow: inset 0 0 0 1px #9b9c9b;
        }
      }
    }
  
    .creditcard-wrapper {
      margin-top: 10px;

      .header{
        justify-content: space-between;

        img{
          height: 38px;
          @media screen and (max-width: 1200px) {
            height: 24px;
          }
        }
      }
    }
    .payment-input-wrapper {
      background: #F6F6F6;
      padding: 10px;

      input[placeholder="Card number"]{
        margin-top: 0;
      }

      img{
        max-width: 155px;
        margin-bottom: 15px;
      }

      p{
        color: #545454;
        font-size: 0.875rem;
      }

      .grid-3 {   

        @media screen and (max-width: 576px) {
          grid-template-columns: 1fr;
          grid-gap: 0;
        }
      }
    }

    .paypal-info{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      p{
        text-align: center;
      }
    }
  }
  
  .modal-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #000000b3;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    visibility: hidden;
  
    .modal {
      background: #fff;
      letter-spacing: 0px;
      color: #333333;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 50px;
      position: relative;
  
      .close-button {
        position: absolute;
        right: 20px;
        top: -15px;
        background: none;
        cursor: pointer;
        height: 40px;
        width: 40px;
      }
  
      .submit-button {
        margin: 0;
        margin-top: 30px;
        width: max-content;
        padding: 20px 40px;
        text-align: center;
        cursor: pointer;
      }
  
      p {
        font-size: 1.8125rem;
        font-weight: 300;
      }
    }
  }


  @keyframes fadeIn{
    from{
      opacity: 0;
    }
    to{
      opacity: 1;
    }
  }