.right-card {
  padding-left: 0;

  display: flex;
  flex-direction: column-reverse;
  font-size: 16px;
  @media screen and (max-width: 1200px) {
    font-size: 12px;
  }


  .logo{
    height: 29.333px;
    display: block;
    margin: 0 auto;
  }

  @media screen and (min-width: 1200px) {
    padding-left: 40px;
    flex-direction: column;

    .logo{
      display: none;
    }
  }

  .order-summary-button{
    border-top: 1px solid #CED4DA;
    border-bottom: 1px solid #CED4DA;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    cursor: pointer;
    margin-top: 19px;

    @media screen and (min-width: 1200px) {
      display: none;
    }

    .total-price{
      font-family: 'Hurme-Geometric-Sans-3-bold';
      font-size: 1rem;
    }
    .order-title{
      display: flex;
      align-items: center;
      span{
        margin: 0 15px;
        font-size: 1rem;
        @media screen and (max-width: 410px) {
          margin: 0 5px;
        }
      }
      #order-summary-button-arrow{
        transition: transform .25s ease;
        transform: rotate(180deg);
      }
    }
  }

  .order-wrapper{
    display: flex;
    flex-direction: column;
    margin-left: -10px;
    padding-left: 10px;
  }


  .total-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    .subtotal-wrapper {
      border-bottom: 1px solid #ced4da;
      margin-bottom: 25px;
      padding: 28px 0;

      @media screen and (max-width: 1200px) {
        font-size: 14px;
        padding: 12px 0;
        margin: 15px 0;
      }
    }

    .subtotal-wrapper{
      font-family: 'Hurme-Geometric-Sans-3';
      text-align: left;
      font-size: 19px;
      @media screen and (max-width: 1200px) {
        font-size: 14px;
      }
      @media screen and (max-width: 576px) {
        font-size: 12px;
      }
    }

    .discount-wrapper{
      display: flex;
      p{
        margin-right: 10px;
      }

      span{
        font-family: 'Hurme-Geometric-Sans-3-semibold';
      }
    }

    .discount {
      color: #e8202d;
      @media screen and (max-width: 1200px) {
        margin: 15px 0;
      }
      .tag{
        color: #717171;
        display: flex;
        align-items: center;
        img{
          margin-right: 5px;
          height: 1.5em;
          width: 1.5em;
        }
      }
    }

    .total {
      text-align: left;
      font-size: 1.5em;
      font-family: 'Hurme-Geometric-Sans-3-bold';
      letter-spacing: 0px;
      color: #000000;
      opacity: 1;

      @media screen and (max-width: 1200px) {
        font-size: 18px;
      }

      @media screen and (max-width: 576px) {
        font-size: 16px;
      }

      span {
        font-family: 'Hurme-Geometric-Sans-3';
        text-align: left;
        font-size: 19px;
        @media screen and (max-width: 1200px) {
          font-size: 14px;
        }
        @media screen and (max-width: 576px) {
          font-size: 12px;
        }

        font-weight: normal;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
        margin-right: 5px;
      }
      
    }

    .flex-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;

      &:last-child{
        margin-bottom: 0;
      }
    }
  }

  .coupon-wrapper {
    display: flex;
    flex-direction: column;
    padding: 32px 0;
    border-bottom: 1px solid #ced4da;
    @media screen and (max-width: 1200px) {
      padding-top: 22px;
      padding-bottom: 14px;
    }


    .input-wrapper {
      display: flex;

      .input {
        background-color: #f6f6f6;
        font-family: inherit;
        font-size: 1.25em;
        padding: 10px 16px;
        border: none;
        outline: none;
        width: 100%;

        &::placeholder{
          color: #C4C4C4;
        }

        @media screen and (max-width: 1200px) {
          font-size: 18px;
          padding: 6px 25px;
        }
        @media screen and (max-width: 410px) {
          font-size: 14px;
          padding: 6px;
        }
      }

      .button {
        background-color: #c4c4c4;
        padding: 10px 40px;
        text-align: left;
        font-family: 'Hurme-Geometric-Sans-3-bold';
        font-size: 1.25em;
        letter-spacing: 0px;
        color: #ffffff;
        opacity: 1;
        text-transform: uppercase;
        cursor: pointer;
        transition: all .25s ease-in-out;

        &:hover, &:focus{
          background: #a4a4a4;
        }

        @media screen and (max-width: 1200px) {
          font-size: 18px;
          padding: 6px 25px;
        }
      }
    }

    .tag-wrapper {
      margin-top: 15px;
      background-color: #f6f6f6;
      padding: 10px;
      border: none;
      outline: none;
      width: max-content;
      display: flex;
      align-items: center;
      text-align: left;
      font-size: 1.25em;
      @media screen and (max-width: 1200px) {
        font-size: 12px;
        padding: 5px;
      }
      letter-spacing: 0px;
      color: #717171;
      opacity: 1;
      .button {
        font-size: inherit;
        color: inherit;
        background: none;
        height: 15px;
        width: 15px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        @media screen and (max-width: 1200px) {
          height: 11px;
          width: 11px;
        }
      }
      p {
        margin: 0 10px;
        @media screen and (max-width: 1200px) {
          margin: 0 10px;
          margin-left: 5px;
        }
      }
      img{
        height: 1.5em;
        width: 1.5em;
      }
    }
  }



  .advert {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
      // border: 0.5px dashed #000000;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23000000FF' stroke-width='0.5' stroke-dasharray='5%2c 5' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    margin:  2px 2px 15px 2px;

    @media screen and (max-width: 1200px) and (min-width: 576px) {
      width: 400px;
      margin: 15px auto;
    }

    @media screen and (max-width: 576px){
      margin: 15px 0;
    }
    
    .top {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 15px;
      width: 350px;
      padding: 0 10px;

      @media screen and (max-width: 1200px) {
        width: 250px;
        img{
          width: 99px;
        }
      }

      .details {
        display: flex;
        flex-direction: column;
        margin-left: 10px;

        @media screen and (max-width: 1200px) {
          margin-left: 5px;
        }
        
        .price {
          text-align: center;
          font-family: 'Hurme-Geometric-Sans-3-semibold';
          font-size: 1.5rem;
          letter-spacing: 0px;
          color: #000000;
          opacity: 1;
          display: flex;
          align-items: center;
          justify-content: center;

          span {
            text-align: left;
            font-family: 'Hurme-Geometric-Sans-3';
            font-weight: 300;
            font-size: 14px;
            text-decoration: line-through;
            letter-spacing: 0px;
            color: #e8202d;
            opacity: 1;
            margin-right: 5px;
          }
        }

        .name{
          text-align: center;
          font-family: 'Hurme-Geometric-Sans-3-bold';
          font-size: 1.25em;
          letter-spacing: 0px;
          color: #000000;
          opacity: 1;
          margin-bottom: 5px;
          @media screen and (max-width: 1200px){
            font-size: 1rem;
          }
        }
      }
    }

    a{
      display: block;
    }

    input[type='checkbox']{
      display: none;

      &:checked ~ .button{
            background-color: #000000;
            color: #ffffff;

            &:hover{
              background-color: #ffffff;
              color: #000000;
            }
      }
    }



    .button {
      background: transparent;
      border: 2px solid #000000;
      padding: 10px 0;
      font-family: 'Hurme-Geometric-Sans-3-semibold';
      font-size: 1.25em;
      text-align: center;
      letter-spacing: 0px;
      text-transform: uppercase;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 352px;
      transition: all .25s ease-in-out;
      line-height: 1;

      &:hover{
        background-color: #000000;
        color: #ffffff;
      }

      @media screen and (max-width: 1200px){
        font-size: 1rem;
        width: 245px;
        padding: 7.5px 0;
      }

      span{
        margin-left: 20px;
        user-select: none;
      }

      .checkbox{
        width: 1em;
        height: 1em;
        border-radius: 1px;
        vertical-align: sub;
        position: relative;
        outline: none;
      }
    }
  }
}
