
.ocu-page {
    padding-top: 10px;
    padding-bottom: 40px;

  .logo{
    height: 42px;
    width: auto;
    display: block;

    @media screen and (max-width: 1200px) {
        height: 30px;
        margin: 0 auto;
      }
  }


    .order-wrapper{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-top: 10px;
        @media screen and (max-width: 1200px) {
            flex-direction: column;
            align-items: center;
          }


        .items-wrapper{
            .front-img{
                width: 650px;
                @media screen and (max-width: 1200px) {
                    width: 100%;
                }
            }

            .menu-wrapper{
                display: flex;
                align-items: center;
                justify-content: space-between;
                .img-button{
                    width: 30%;
                    cursor: pointer;
                    input[type="radio"]{
                        display: none;
                        &:checked + img{
                            outline: 3px solid #717171;
                        }
                    }

                    img{
                        width: 100%;
                    }
                }
            }
        }

        .seleted-order{
            width: 100%;
            @media screen and (max-width: 1200px) {
                margin-top: 20px;
            }
            .price-wrapper{
                display: flex;
                align-items: center;
                justify-content: center;
                .prev-price{
                    text-align: left;
                    text-decoration: line-through;
                    font-size: 3em;
                    letter-spacing: 0px;
                    color: #E8202D;
                    margin-right: 20px;

                    @media screen and (max-width: 1200px) {
                        font-size: 1.8125em;
                    }
                }
                .only{
                    letter-spacing: 0px;
                    margin-right: 10px;
                    font-size: 3em;
                    @media screen and (max-width: 1200px) {
                        font-size: 1.8125em;
                    }
                }
                .current-price{
                    font-size: 4em;
                    letter-spacing: 0px;
                    font-family: 'Hurme-Geometric-Sans-3-semibold';

                    @media screen and (max-width: 1200px) {
                        font-size: 2.6875em;
                    }
                }
            }

            .snh{
                font-size: 1.5em;
                letter-spacing: 2.34px;
                padding: 15px 0;
                border-bottom: 1px solid #D6D6D6;
                text-align: center;

                @media screen and (max-width: 1200px) {
                    font-size: 1.25em;
                    padding: 0;
                    padding-bottom: 10px;
                }

                span{
                    font-family: 'Hurme-Geometric-Sans-3-semibold';
                }
            }
            .dnq{
                font-size: 1.5em;
                text-align: center;
                padding: 15px 0;
                @media screen and (max-width: 1200px) {
                    font-size: 1em;
                    padding: 10px 0;
                }
            }
            .details{
                border: 0.5px solid #C4C4C4;
                padding: 10px 20px;
                display: flex;
                height: 45px;

                @media screen and (max-width: 1200px) {
                    height: 35px;
                }
                p{
                    margin-right: 10px;
                    font-size: 1em;
                    letter-spacing: 0px;
                    color: #333333;

                    @media screen and (max-width: 1200px) {
                        font-size: 0.8125em;
                    }
                    
                }
            }
            .number-wrapper{
                width: 100%;
                margin-top: 10px;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                border: 0.5px solid #C4C4C4;
                height: 45px;
                font-size: 1.25em;
                color: #333333;

                @media screen and (max-width: 1200px) {
                    height: 35px;
                    font-size: 1em;
                }

                input{
                    border: none;
                    outline: none;
                    border-right: 0.5px solid #C4C4C4;
                    border-left: 0.5px solid #C4C4C4;
                    appearance: none;
                    font-family: inherit;
                    font-size: inherit;
                    text-align: center;
                    color: inherit;
                    width: auto;
                }

                input::-webkit-outer-spin-button,
                input::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }

                input[type=number] {
                    -moz-appearance:textfield;
                }

                .incre,
                .decre{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    user-select: none;
                }
            }

            .purchase{
                margin-top: 10px;
                background: #33B159;
                letter-spacing: 0px;
                color: #FFFFFF;
                text-transform: uppercase;
                font-size: 1.25em;
                font-family: 'Hurme-Geometric-Sans-3-semibold';
                text-align: center;
                padding: 22px 0;

                @media screen and (max-width: 1200px) {
                    font-size: 1em;
                }
            }

            .decline{
                margin-top: 10px;
                background: #333333;
                letter-spacing: 0px;
                color: #FFFFFF;
                font-size: .9em;
                text-align: center;
                padding: 22px 0;
                font-family: 'Hurme-Geometric-Sans-3-light';

                @media screen and (max-width: 1200px) {
                    font-size: .75em;
                }
            }

        }
    }
  }



  .header-title{
    .title{
        font-size: 2.25em;
        letter-spacing: 0.42px;
        text-align: center;
        padding: 15px 0;
        border-bottom: 1px solid #C4C4C4;


        @media screen and (max-width: 1200px) {
            font-size: 1.3125em;
            padding: 0;
            padding-bottom: 10px;
        }

    }
    .small-title{
        margin: 20px 0;
        color: #717171;
        font-family: 'Hurme-Geometric-Sans-3-light';
        font-size: 1.8em;
        text-align: center;
        font-weight: 300;
        letter-spacing: 1.8px;

        @media screen and (max-width: 1200px) {
            font-size: 0.875em;
        }

        span{
            margin-right: 20px;
            svg{
                height: 36px;
                width: 36px;
            }
            @media screen and (max-width: 1200px) {
                svg{
                    height: 14px;
                    width: 14px;
                }
                margin-right: 5px;
            }
        }
    }
}