.left-card,
.right-card {
  width: 100%;
  padding-top: 40px;

  @media screen and (max-width: 640px) {
    padding-top: 20px;
  }
}

.main-page {
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 3.5625rem);

  @media screen and (max-width: 640px) {
    flex-direction: column-reverse;
  }
}