@import "./checkout/checkout-page";
@import "./ocu/ocu-page";
@import "./thankyou/thankyou-page";


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Hurme-Geometric-Sans-3';
  src: url(/assets/fonts/HurmeGeometricSans3.otf);
      // url(/assets/fonts/HurmeGeometricSans3Black.otf),
      // url(/assets/fonts/HurmeGeometricSans3BlackOblique.otf),
      // url(/assets/fonts/HurmeGeometricSans3Bold.otf),
      // url(/assets/fonts/HurmeGeometricSans3BoldOblique.otf),
      // url(/assets/fonts/HurmeGeometricSans3Hairline.otf),
      // url(/assets/fonts/HurmeGeometricSans3HairlineOblique.otf),
      // url(/assets/fonts/HurmeGeometricSans3Light.otf),
      // url(/assets/fonts/HurmeGeometricSans3LightOblique.otf),
      // url(/assets/fonts/HurmeGeometricSans3Oblique.otf),
      // url(/assets/fonts/HurmeGeometricSans3SemiBold.otf),
      // url(/assets/fonts/HurmeGeometricSans3SemiBoldOblique.otf),
      // url(/assets/fonts/HurmeGeometricSans3Thin.otf),
      // url(/assets/fonts/HurmeGeometricSans3ThinOblique.otf);
}
@font-face {
  font-family: 'Hurme-Geometric-Sans-3-Black';
  src: url(/assets/fonts/HurmeGeometricSans3Black.otf);
}
@font-face {
  font-family: 'Hurme-Geometric-Sans-3-light';
  src: url(/assets/fonts/HurmeGeometricSans3Light.otf);
}
@font-face {
  font-family: 'Hurme-Geometric-Sans-3-bold';
  src: url(/assets/fonts/HurmeGeometricSans3Bold.otf);
}
@font-face {
  font-family: 'Hurme-Geometric-Sans-3-semibold';
  src: url(/assets/fonts/HurmeGeometricSans3SemiBold.otf);
}

body {
  font-family: 'Hurme-Geometric-Sans-3';
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

div[role="button"]{
  cursor: pointer;
}

.container {
  width: 100%;
  margin: 0 auto;
  height: 100%;
  padding: 0 30px;
  
  @media screen and (max-width: 410px) {
    padding: 0 10px;
  }
  @media screen and (min-width: 576px) {
    max-width: 540px;
  }
  @media screen and (min-width: 768px) {
    max-width: 720px;
  }
  @media screen and (min-width: 992px) {
    max-width: 960px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1140px;
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 3.5625rem;
  width: 100%;
  padding: 10px 0;
  background:#f6f6f6;
  color: #717171;
  position: absolute;
  bottom: 0;

  @media screen and (max-width: 576px) {
    flex-direction: column;
  }

  .brand {
    font-size: 0.8125rem;
    font-weight: bold;
    letter-spacing: 0.8px;
    text-align: left;
    margin-bottom: 0px;

    @media screen and (max-width: 576px) {
      margin-bottom: 10px;
    }
  }

  .footer-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: .875rem;

    @media screen and (max-width: 576px) {
      margin-left: 0rem;
    }
    
    a {
      text-align: left;
      font-size: 0.8125rem;
      letter-spacing: 0.04px;
      font-size: .6875rem;
      padding: 0 .875rem;
      border-left: 1px solid #bdbdbd;

      @media screen and (max-width: 410px) {
        margin-left: 0rem;
        padding: 0 .25rem;
        &:first-child{
          padding-left: 0;
        }
        &:last-child{
          padding-right: 0;
        }
      }
      &:first-child {
        border-left: none;
      }
    }
  }
}

.mt-10{
  @media screen and (max-width: 576px) {
  margin-top: 10px;
  }
}