.right-card {
  padding-left: 0;
  display: flex;
  flex-direction: column-reverse;
  font-size: 16px;
}

@media screen and (max-width: 1200px) {
  .right-card {
    font-size: 12px;
  }
}

.right-card .logo {
  height: 29.333px;
  display: block;
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .right-card {
    padding-left: 40px;
    flex-direction: column;
  }
  .right-card .logo {
    display: none;
  }
}

.right-card .order-summary-button {
  border-top: 1px solid #CED4DA;
  border-bottom: 1px solid #CED4DA;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  cursor: pointer;
  margin-top: 19px;
}

@media screen and (min-width: 1200px) {
  .right-card .order-summary-button {
    display: none;
  }
}

.right-card .order-summary-button .total-price {
  font-family: 'Hurme-Geometric-Sans-3-bold';
  font-size: 1rem;
}

.right-card .order-summary-button .order-title {
  display: flex;
  align-items: center;
}

.right-card .order-summary-button .order-title span {
  margin: 0 15px;
  font-size: 1rem;
}

@media screen and (max-width: 410px) {
  .right-card .order-summary-button .order-title span {
    margin: 0 5px;
  }
}

.right-card .order-summary-button .order-title #order-summary-button-arrow {
  transition: transform .25s ease;
  transform: rotate(180deg);
}

.right-card .order-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: -10px;
  padding-left: 10px;
}

.right-card .total-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.right-card .total-wrapper .subtotal-wrapper {
  border-bottom: 1px solid #ced4da;
  margin-bottom: 25px;
  padding: 28px 0;
}

@media screen and (max-width: 1200px) {
  .right-card .total-wrapper .subtotal-wrapper {
    font-size: 14px;
    padding: 12px 0;
    margin: 15px 0;
  }
}

.right-card .total-wrapper .subtotal-wrapper {
  font-family: 'Hurme-Geometric-Sans-3';
  text-align: left;
  font-size: 19px;
}

@media screen and (max-width: 1200px) {
  .right-card .total-wrapper .subtotal-wrapper {
    font-size: 14px;
  }
}

@media screen and (max-width: 576px) {
  .right-card .total-wrapper .subtotal-wrapper {
    font-size: 12px;
  }
}

.right-card .total-wrapper .discount-wrapper {
  display: flex;
}

.right-card .total-wrapper .discount-wrapper p {
  margin-right: 10px;
}

.right-card .total-wrapper .discount-wrapper span {
  font-family: 'Hurme-Geometric-Sans-3-semibold';
}

.right-card .total-wrapper .discount {
  color: #e8202d;
}

@media screen and (max-width: 1200px) {
  .right-card .total-wrapper .discount {
    margin: 15px 0;
  }
}

.right-card .total-wrapper .discount .tag {
  color: #717171;
  display: flex;
  align-items: center;
}

.right-card .total-wrapper .discount .tag img {
  margin-right: 5px;
  height: 1.5em;
  width: 1.5em;
}

.right-card .total-wrapper .total {
  text-align: left;
  font-size: 1.5em;
  font-family: 'Hurme-Geometric-Sans-3-bold';
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

@media screen and (max-width: 1200px) {
  .right-card .total-wrapper .total {
    font-size: 18px;
  }
}

@media screen and (max-width: 576px) {
  .right-card .total-wrapper .total {
    font-size: 16px;
  }
}

.right-card .total-wrapper .total span {
  font-family: 'Hurme-Geometric-Sans-3';
  text-align: left;
  font-size: 19px;
  font-weight: normal;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin-right: 5px;
}

@media screen and (max-width: 1200px) {
  .right-card .total-wrapper .total span {
    font-size: 14px;
  }
}

@media screen and (max-width: 576px) {
  .right-card .total-wrapper .total span {
    font-size: 12px;
  }
}

.right-card .total-wrapper .flex-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.right-card .total-wrapper .flex-row:last-child {
  margin-bottom: 0;
}

.right-card .coupon-wrapper {
  display: flex;
  flex-direction: column;
  padding: 32px 0;
  border-bottom: 1px solid #ced4da;
}

@media screen and (max-width: 1200px) {
  .right-card .coupon-wrapper {
    padding-top: 22px;
    padding-bottom: 14px;
  }
}

.right-card .coupon-wrapper .input-wrapper {
  display: flex;
}

.right-card .coupon-wrapper .input-wrapper .input {
  background-color: #f6f6f6;
  font-family: inherit;
  font-size: 1.25em;
  padding: 10px 16px;
  border: none;
  outline: none;
  width: 100%;
}

.right-card .coupon-wrapper .input-wrapper .input::placeholder {
  color: #C4C4C4;
}

@media screen and (max-width: 1200px) {
  .right-card .coupon-wrapper .input-wrapper .input {
    font-size: 18px;
    padding: 6px 25px;
  }
}

@media screen and (max-width: 410px) {
  .right-card .coupon-wrapper .input-wrapper .input {
    font-size: 14px;
    padding: 6px;
  }
}

.right-card .coupon-wrapper .input-wrapper .button {
  background-color: #c4c4c4;
  padding: 10px 40px;
  text-align: left;
  font-family: 'Hurme-Geometric-Sans-3-bold';
  font-size: 1.25em;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  text-transform: uppercase;
  cursor: pointer;
  transition: all .25s ease-in-out;
}

.right-card .coupon-wrapper .input-wrapper .button:hover, .right-card .coupon-wrapper .input-wrapper .button:focus {
  background: #a4a4a4;
}

@media screen and (max-width: 1200px) {
  .right-card .coupon-wrapper .input-wrapper .button {
    font-size: 18px;
    padding: 6px 25px;
  }
}

.right-card .coupon-wrapper .tag-wrapper {
  margin-top: 15px;
  background-color: #f6f6f6;
  padding: 10px;
  border: none;
  outline: none;
  width: max-content;
  display: flex;
  align-items: center;
  text-align: left;
  font-size: 1.25em;
  letter-spacing: 0px;
  color: #717171;
  opacity: 1;
}

@media screen and (max-width: 1200px) {
  .right-card .coupon-wrapper .tag-wrapper {
    font-size: 12px;
    padding: 5px;
  }
}

.right-card .coupon-wrapper .tag-wrapper .button {
  font-size: inherit;
  color: inherit;
  background: none;
  height: 15px;
  width: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1200px) {
  .right-card .coupon-wrapper .tag-wrapper .button {
    height: 11px;
    width: 11px;
  }
}

.right-card .coupon-wrapper .tag-wrapper p {
  margin: 0 10px;
}

@media screen and (max-width: 1200px) {
  .right-card .coupon-wrapper .tag-wrapper p {
    margin: 0 10px;
    margin-left: 5px;
  }
}

.right-card .coupon-wrapper .tag-wrapper img {
  height: 1.5em;
  width: 1.5em;
}

.right-card .advert {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23000000FF' stroke-width='0.5' stroke-dasharray='5%2c 5' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  margin: 2px 2px 15px 2px;
}

@media screen and (max-width: 1200px) and (min-width: 576px) {
  .right-card .advert {
    width: 400px;
    margin: 15px auto;
  }
}

@media screen and (max-width: 576px) {
  .right-card .advert {
    margin: 15px 0;
  }
}

.right-card .advert .top {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  width: 350px;
  padding: 0 10px;
}

@media screen and (max-width: 1200px) {
  .right-card .advert .top {
    width: 250px;
  }
  .right-card .advert .top img {
    width: 99px;
  }
}

.right-card .advert .top .details {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

@media screen and (max-width: 1200px) {
  .right-card .advert .top .details {
    margin-left: 5px;
  }
}

.right-card .advert .top .details .price {
  text-align: center;
  font-family: 'Hurme-Geometric-Sans-3-semibold';
  font-size: 1.5rem;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-card .advert .top .details .price span {
  text-align: left;
  font-family: 'Hurme-Geometric-Sans-3';
  font-weight: 300;
  font-size: 14px;
  text-decoration: line-through;
  letter-spacing: 0px;
  color: #e8202d;
  opacity: 1;
  margin-right: 5px;
}

.right-card .advert .top .details .name {
  text-align: center;
  font-family: 'Hurme-Geometric-Sans-3-bold';
  font-size: 1.25em;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin-bottom: 5px;
}

@media screen and (max-width: 1200px) {
  .right-card .advert .top .details .name {
    font-size: 1rem;
  }
}

.right-card .advert a {
  display: block;
}

.right-card .advert input[type='checkbox'] {
  display: none;
}

.right-card .advert input[type='checkbox']:checked ~ .button {
  background-color: #000000;
  color: #ffffff;
}

.right-card .advert input[type='checkbox']:checked ~ .button:hover {
  background-color: #ffffff;
  color: #000000;
}

.right-card .advert .button {
  background: transparent;
  border: 2px solid #000000;
  padding: 10px 0;
  font-family: 'Hurme-Geometric-Sans-3-semibold';
  font-size: 1.25em;
  text-align: center;
  letter-spacing: 0px;
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 352px;
  transition: all .25s ease-in-out;
}

.right-card .advert .button:hover {
  background-color: #000000;
  color: #ffffff;
}

@media screen and (max-width: 1200px) {
  .right-card .advert .button {
    font-size: 1rem;
    width: 245px;
    padding: 7.5px 0;
  }
}

.right-card .advert .button span {
  margin-left: 20px;
  user-select: none;
}

.right-card .advert .button .checkbox {
  width: 1em;
  height: 1em;
  border-radius: 1px;
  vertical-align: sub;
  position: relative;
  outline: none;
}

.left-card {
  padding-right: 2.5rem;
  box-shadow: 5px 0px 7.5px -2px #00000015;
}

@media screen and (max-width: 1200px) {
  .left-card {
    padding-right: 0;
    box-shadow: none;
  }
}

.left-card .shipping-wrapper, .left-card .payment-wrapper {
  animation-duration: .5s;
  animation-name: fadeIn;
}

.left-card .guaranteed {
  width: 100%;
  margin-bottom: 30px;
}

.left-card .logo {
  height: 60px;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .left-card .logo {
    display: none;
  }
}

.left-card .input,
.left-card select {
  text-align: left;
  padding: 0 10px;
  letter-spacing: 0.05px;
  color: #717171;
  opacity: 1;
  border: 1px solid #ced4da;
  border-radius: 4px;
  width: 100%;
  margin-top: 9px;
  font-size: 18px;
  line-height: 42px;
  font-family: 'Hurme-Geometric-Sans-3-light';
  background: transparent;
  transition: box-shadow .25s ease-in-out;
}

@media screen and (max-width: 410px) {
  .left-card .input,
  .left-card select {
    font-size: 16px;
  }
}

.left-card .input:focus-within,
.left-card .input :focus,
.left-card select:focus-within,
.left-card select :focus {
  color: #333;
  border: 0.5px solid #ced4da;
  box-shadow: 0 0 0 0.2rem #8686863d;
  outline: none;
  z-index: 2;
}

.left-card label {
  user-select: none;
  padding: 10px 20px;
  letter-spacing: 0.05px;
  color: #212529;
  opacity: 1;
  border: 1px solid #ced4da;
  line-height: 42px;
  font-family: 'Hurme-Geometric-Sans-3-light';
  font-size: 18px;
}

@media screen and (max-width: 410px) {
  .left-card label {
    padding: 10px;
    font-size: 16px;
  }
}

.left-card input,
.left-card select {
  appearance: none;
}

.left-card #different-address-form {
  margin-top: 0;
}

.left-card #different-address-form .input {
  margin-bottom: 0;
}

.left-card #different-address-form .input-wrapper {
  margin-top: 0;
}

.left-card select {
  background-image: url(/assets/caret.png);
  background-size: 20px 20px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center;
}

.left-card .input-wrapper {
  margin-top: 20px;
}

@media screen and (max-width: 1200px) {
  .left-card .input-wrapper {
    margin-top: 27px;
  }
}

.left-card .grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
}

@media screen and (max-width: 576px) {
  .left-card .grid-2 {
    grid-template-columns: 1fr;
    grid-gap: 0px;
  }
}

.left-card .grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
}

@media screen and (max-width: 576px) {
  .left-card .grid-3 {
    grid-template-columns: 1fr;
    grid-gap: 0px;
  }
}

.left-card .title {
  letter-spacing: 0.07px;
  font-size: 1.25rem;
}

.left-card small {
  font-size: 12px;
}

.left-card .submit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #33b159;
  text-transform: uppercase;
  font-size: 23px;
  line-height: 1;
  font-family: 'Hurme-Geometric-Sans-3-bold';
  letter-spacing: 0;
  color: #fff;
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: 0;
  text-align: center;
  cursor: pointer;
  width: max-content;
  width: 350px;
  height: 55px;
  transition: all .25s ease-in-out;
}

.left-card .submit-button:hover, .left-card .submit-button:focus {
  background: #10551f;
}

@media screen and (max-width: 576px) {
  .left-card .submit-button {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 1200px) {
  .left-card .submit-button {
    font-size: 18px;
    margin-bottom: 1.6875rem;
  }
}

.left-card .buttons-wrapper {
  display: flex;
  width: 100%;
  margin: 20px 0;
}

.left-card .buttons-wrapper .button {
  text-transform: uppercase;
  text-align: center;
  padding: 10px 0;
  font-size: 1.4375rem;
  letter-spacing: 2.73px;
  background: transparent;
  font-weight: normal;
  width: 50%;
  transition: all .25s ease-in-out;
  border: 1px solid #fff;
  border-bottom: 1px solid #ced4da;
}

@media screen and (max-width: 1200px) {
  .left-card .buttons-wrapper .button {
    font-size: 18px;
  }
}

.left-card .buttons-wrapper .button.active {
  box-shadow: 0px 3px 9px #33333333;
  border-bottom: 1px solid #ced4da00;
}

.left-card .buttons-wrapper .button.idle {
  border-bottom: 1px solid #ced4da;
  color: #ced4da;
  cursor: pointer;
  transition: all .25s ease-in-out;
}

.left-card .buttons-wrapper .button.idle:hover {
  border: 1px solid #ced4da;
}

.left-card .payment-wrapper {
  display: none;
}

@media screen and (max-width: 576px) {
  .left-card .payment-wrapper label {
    border: 0.5px solid #ced4da;
    border-top: none;
  }
  .left-card .payment-wrapper label:first-child {
    border-top: 0.5px solid #ced4da;
  }
}

.left-card .payment .header {
  margin: 0;
  margin-top: 9px;
}

.left-card .payment .paypal {
  margin: 0;
}

.left-card .payment .creditcard {
  background-image: url("/assets/CC.jpg");
  background-size: 231px 38px;
  background-repeat: no-repeat;
  background-position: calc(100% - 20px) center;
}

@media screen and (max-width: 1200px) {
  .left-card .payment .creditcard {
    background-size: 145px 24px;
  }
}

@media screen and (max-width: 410px) {
  .left-card .payment .creditcard {
    background-size: 100px;
  }
}

.left-card .payment .input {
  background: #fff;
}

.left-card .header {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  margin-top: 9px;
}

@media screen and (max-width: 576px) {
  .left-card .header {
    margin: 0;
  }
}

.left-card .header input[type="radio"] {
  cursor: pointer;
  appearance: auto;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-right: 10px;
  border: 1px solid #717171;
  position: absolute;
  left: -9999px;
}

.left-card .header input[type="radio"]:checked {
  border: 3px solid #717171;
}

.left-card .header input[type="radio"]:checked + span:before {
  box-shadow: inset 0 0 0 4px #9b9c9b;
}

.left-card .header span {
  display: flex;
  align-items: center;
  border-radius: 99em;
  transition: 0.25s ease;
}

.left-card .header span:before {
  display: flex;
  flex-shrink: 0;
  content: "";
  background-color: #fff;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin-right: 0.375em;
  transition: 0.25s ease;
  box-shadow: inset 0 0 0 1px #9b9c9b;
}

.left-card .creditcard-wrapper {
  margin-top: 10px;
}

.left-card .creditcard-wrapper .header {
  justify-content: space-between;
}

.left-card .creditcard-wrapper .header img {
  height: 38px;
}

@media screen and (max-width: 1200px) {
  .left-card .creditcard-wrapper .header img {
    height: 24px;
  }
}

.left-card .payment-input-wrapper {
  background: #F6F6F6;
  padding: 10px;
}

.left-card .payment-input-wrapper input[placeholder="Card number"] {
  margin-top: 0;
}

.left-card .payment-input-wrapper img {
  max-width: 155px;
  margin-bottom: 15px;
}

.left-card .payment-input-wrapper p {
  color: #545454;
  font-size: 0.875rem;
}

@media screen and (max-width: 576px) {
  .left-card .payment-input-wrapper .grid-3 {
    grid-template-columns: 1fr;
    grid-gap: 0;
  }
}

.left-card .paypal-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.left-card .paypal-info p {
  text-align: center;
}

.modal-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #000000b3;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  visibility: hidden;
}

.modal-wrapper .modal {
  background: #fff;
  letter-spacing: 0px;
  color: #333333;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
  position: relative;
}

.modal-wrapper .modal .close-button {
  position: absolute;
  right: 20px;
  top: -15px;
  background: none;
  cursor: pointer;
  height: 40px;
  width: 40px;
}

.modal-wrapper .modal .submit-button {
  margin: 0;
  margin-top: 30px;
  width: max-content;
  padding: 20px 40px;
  text-align: center;
  cursor: pointer;
}

.modal-wrapper .modal p {
  font-size: 1.8125rem;
  font-weight: 300;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.left-card,
.right-card {
  padding-top: 40px;
}

.left-card {
  width: 620px;
}

@media screen and (max-width: 1200px) {
  .left-card {
    width: 100%;
    padding-top: 0;
  }
}

.right-card {
  width: 520px;
}

@media screen and (max-width: 1200px) {
  .right-card {
    width: 100%;
    padding-bottom: 0;
    padding-top: 10px;
  }
}

.checkout-page {
  display: flex;
  flex-shrink: unset;
}

@media screen and (max-width: 1200px) {
  .checkout-page {
    flex-direction: column-reverse;
  }
}

.checkout-main-page {
  min-height: 100vh;
  padding-bottom: 3.5625rem;
  position: relative;
}

.product {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  justify-items: start;
  grid-gap: 2em;
  border-bottom: 1px solid #ced4da;
  padding: 30px 0;
}

@media screen and (max-width: 1200px) {
  .product {
    padding: 2em 0;
    grid-gap: 1.25em;
  }
}

@media screen and (max-width: 410px) {
  .product {
    grid-gap: 1em;
  }
}

.product .price-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.product .price-wrapper .price {
  text-align: left;
  font-family: 'Hurme-Geometric-Sans-3-semibold';
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  font-size: 1.25em;
}

.product .price-wrapper .no-price {
  font-weight: normal;
  text-align: left;
  font-size: 0.875em;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  text-decoration: line-through;
}

.product .price-wrapper .free {
  text-align: left;
  font-family: 'Hurme-Geometric-Sans-3-semibold';
  letter-spacing: 0px;
  font-size: 1.25em;
  color: #e8202d;
  opacity: 1;
  line-height: 1;
}

.product .info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.product .info .name {
  text-align: left;
  font-family: 'Hurme-Geometric-Sans-3-semibold';
  letter-spacing: 0px;
  font-size: 16px;
  color: #000000;
  opacity: 1;
  line-height: 1.2;
  padding: 2px 0;
}

@media screen and (max-width: 1200px) {
  .product .info .name {
    font-size: 14px;
  }
}

.product .info .description {
  text-align: left;
  font-family: 'Hurme-Geometric-Sans-3';
  font-size: 14px;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
  line-height: 1.2;
  padding: 2px 0;
}

@media screen and (max-width: 1200px) {
  .product .info .description {
    font-size: 10px;
  }
}

.product .info .details {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Hurme-Geometric-Sans-3';
  line-height: 1.2;
  padding: 2px 0;
}

@media screen and (max-width: 300px) {
  .product .info .details {
    flex-direction: column;
  }
}

.product .info .details p {
  padding-right: 8px;
  margin-right: 8px;
  border-right: 1px solid #d6d6d6;
  line-height: 1.2;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}

.product .info .details p:last-child {
  padding-right: 0;
  margin-right: 0;
  border-right: none;
}

@media screen and (max-width: 1200px) {
  .product .info .details p {
    font-size: 10px;
  }
}

@media screen and (max-width: 300px) {
  .product .info .details p {
    padding-right: 0;
    margin-right: 0;
    border-right: none;
  }
}

.product .img-wrapper {
  box-shadow: 1px 2px 10px #00000029;
  border-radius: 5px;
  position: relative;
  height: max-content;
  width: max-content;
}

@media screen and (max-width: 1200px) {
  .product .img-wrapper {
    box-shadow: 1px 2px 8px #00000029;
  }
}

.product .img-wrapper img {
  height: 83px;
}

@media screen and (max-width: 1200px) {
  .product .img-wrapper img {
    height: 53px;
  }
}

.product .img-wrapper .qnty {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(50%) translateY(-50%);
  font-size: 0.875em;
  background: #333;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: 'Hurme-Geometric-Sans-3-bold';
  line-height: 1;
}

@media screen and (max-width: 1200px) {
  .product .img-wrapper .qnty {
    font-family: 'Hurme-Geometric-Sans-3';
    font-size: 0.65em;
    height: 13px;
    width: 13px;
  }
}

.ocu-main-page {
  min-height: 100vh;
  padding-bottom: 3.5625rem;
  position: relative;
}

.ocu-page {
  padding-top: 10px;
  padding-bottom: 40px;
}

.ocu-page .logo {
  height: 42px;
  width: auto;
  display: block;
}

@media screen and (max-width: 1200px) {
  .ocu-page .logo {
    height: 30px;
    margin: 0 auto;
  }
}

.ocu-page .order-wrapper {
  display: grid;
  grid-template-columns: 596px 1fr;
  grid-gap: 48px;
  margin-top: 15px;
}

@media screen and (max-width: 1200px) {
  .ocu-page .order-wrapper {
    grid-template-columns: 1fr;
    grid-gap: 18px;
  }
}

.ocu-page .order-wrapper svg {
  height: 14px;
  width: 14px;
}

@media screen and (max-width: 1200px) {
  .ocu-page .order-wrapper svg {
    height: 10px;
    width: 10px;
  }
}

.ocu-page .order-wrapper .items-wrapper .front-img {
  width: 100%;
}

.ocu-page .order-wrapper .items-wrapper .menu-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 32px;
}

@media screen and (max-width: 1200px) {
  .ocu-page .order-wrapper .items-wrapper .menu-wrapper {
    margin-top: 15px;
  }
}

.ocu-page .order-wrapper .items-wrapper .menu-wrapper .img-button {
  width: 30%;
  cursor: pointer;
}

.ocu-page .order-wrapper .items-wrapper .menu-wrapper .img-button input[type="radio"] {
  display: none;
}

.ocu-page .order-wrapper .items-wrapper .menu-wrapper .img-button input[type="radio"]:checked + img {
  outline: 3px solid #717171;
}

.ocu-page .order-wrapper .items-wrapper .menu-wrapper .img-button img {
  width: 100%;
}

.ocu-page .order-wrapper .items-wrapper .menu-wrapper .img-button img:hover, .ocu-page .order-wrapper .items-wrapper .menu-wrapper .img-button img:focus {
  outline: 1px solid #717171;
}

.ocu-page .order-wrapper .seleted-order .price-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ocu-page .order-wrapper .seleted-order .price-wrapper .prev-price {
  text-align: left;
  font-size: 2.8em;
  letter-spacing: 0px;
  color: #E8202D;
  margin-right: 10px;
  position: relative;
}

@media screen and (max-width: 1200px) {
  .ocu-page .order-wrapper .seleted-order .price-wrapper .prev-price {
    font-size: 1.8125em;
  }
}

.ocu-page .order-wrapper .seleted-order .price-wrapper .prev-price::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.55em;
  border-top: 2px solid #E8202D;
  z-index: -1;
}

.ocu-page .order-wrapper .seleted-order .price-wrapper .current-price {
  font-size: 4em;
  letter-spacing: 0px;
  font-family: 'Hurme-Geometric-Sans-3-semibold';
}

@media screen and (max-width: 1200px) {
  .ocu-page .order-wrapper .seleted-order .price-wrapper .current-price {
    font-size: 2.6875em;
  }
}

.ocu-page .order-wrapper .seleted-order .snh {
  font-size: 1.5em;
  letter-spacing: 2.34px;
  padding-bottom: 20px;
  border-bottom: 1px solid #D6D6D6;
  text-align: center;
  word-spacing: -5px;
}

@media screen and (max-width: 1200px) {
  .ocu-page .order-wrapper .seleted-order .snh {
    font-size: 1.25em;
    padding: 0;
    padding-bottom: 16px;
  }
}

.ocu-page .order-wrapper .seleted-order .snh span {
  font-family: 'Hurme-Geometric-Sans-3-semibold';
}

.ocu-page .order-wrapper .seleted-order .dnq {
  font-size: 1.5em;
  text-align: center;
  margin-top: 20px;
  word-spacing: -5px;
}

@media screen and (max-width: 1200px) {
  .ocu-page .order-wrapper .seleted-order .dnq {
    font-size: 1em;
    word-spacing: -3px;
  }
}

.ocu-page .order-wrapper .seleted-order .details {
  border: 0.5px solid #C4C4C4;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  height: 45px;
  margin-top: 15px;
}

@media screen and (max-width: 576px) {
  .ocu-page .order-wrapper .seleted-order .details {
    padding: 10px;
  }
}

@media screen and (max-width: 1200px) {
  .ocu-page .order-wrapper .seleted-order .details {
    height: 35px;
  }
}

.ocu-page .order-wrapper .seleted-order .details p {
  margin-right: 10px;
  font-size: 1em;
  letter-spacing: 0px;
  color: #333333;
}

.ocu-page .order-wrapper .seleted-order .details p:last-child {
  margin-right: 0;
}

@media screen and (max-width: 1200px) {
  .ocu-page .order-wrapper .seleted-order .details p {
    font-size: 0.8125em;
  }
}

.ocu-page .order-wrapper .seleted-order .number-wrapper {
  width: 100%;
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 0.5px solid #C4C4C4;
  height: 45px;
  font-size: 1.25em;
  color: #333333;
}

@media screen and (max-width: 1200px) {
  .ocu-page .order-wrapper .seleted-order .number-wrapper {
    height: 35px;
    font-size: 1em;
  }
}

.ocu-page .order-wrapper .seleted-order .number-wrapper input {
  border: none;
  outline: none;
  border-right: 0.5px solid #C4C4C4;
  border-left: 0.5px solid #C4C4C4;
  appearance: none;
  font-family: inherit;
  font-size: inherit;
  text-align: center;
  color: inherit;
  width: auto;
  width: 100%;
}

.ocu-page .order-wrapper .seleted-order .number-wrapper input::-webkit-outer-spin-button,
.ocu-page .order-wrapper .seleted-order .number-wrapper input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.ocu-page .order-wrapper .seleted-order .number-wrapper input[type=number] {
  -moz-appearance: textfield;
}

.ocu-page .order-wrapper .seleted-order .number-wrapper .incre,
.ocu-page .order-wrapper .seleted-order .number-wrapper .decre {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  user-select: none;
  transition: background .25s ease-in-out;
}

.ocu-page .order-wrapper .seleted-order .number-wrapper .incre:hover, .ocu-page .order-wrapper .seleted-order .number-wrapper .incre:focus,
.ocu-page .order-wrapper .seleted-order .number-wrapper .decre:hover,
.ocu-page .order-wrapper .seleted-order .number-wrapper .decre:focus {
  background: #e4e4e4;
}

.ocu-page .order-wrapper .seleted-order .purchase {
  margin-top: 15px;
  background: #33B159;
  letter-spacing: 0px;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 1.25em;
  font-family: 'Hurme-Geometric-Sans-3-bold';
  text-align: center;
  padding: 22px;
  display: block;
  transition: background .25s ease-in-out;
}

.ocu-page .order-wrapper .seleted-order .purchase:hover, .ocu-page .order-wrapper .seleted-order .purchase:focus {
  background: #10551f;
}

@media screen and (max-width: 1200px) {
  .ocu-page .order-wrapper .seleted-order .purchase {
    font-size: 1em;
    padding: 18px;
  }
}

@media screen and (max-width: 410px) {
  .ocu-page .order-wrapper .seleted-order .purchase {
    padding: 20px 10px;
  }
}

.ocu-page .order-wrapper .seleted-order .decline {
  margin-top: 10px;
  background: #333333;
  letter-spacing: 0px;
  color: #FFFFFF;
  font-size: .9em;
  text-align: center;
  padding: 16px 5px;
  font-family: 'Hurme-Geometric-Sans-3-light';
  display: block;
  transition: background .25s ease-in-out;
}

.ocu-page .order-wrapper .seleted-order .decline:hover, .ocu-page .order-wrapper .seleted-order .decline:focus {
  background: #636363;
}

@media screen and (max-width: 1200px) and (min-width: 320px) {
  .ocu-page .order-wrapper .seleted-order .decline {
    font-size: .75em;
    padding: 20px 5px;
  }
}

@media screen and (max-width: 319px) {
  .ocu-page .order-wrapper .seleted-order .decline {
    font-size: .6em;
    padding: 20px 5px;
  }
}

.header-title .title {
  font-size: 2.25em;
  letter-spacing: 0.42px;
  text-align: center;
  padding-bottom: 17px;
  border-bottom: 1px solid #C4C4C4;
  word-spacing: -5px;
}

@media screen and (max-width: 1200px) {
  .header-title .title {
    font-size: 1.3125em;
    padding-bottom: 13px;
    word-spacing: -3px;
  }
}

.header-title .small-title {
  margin-top: 43px;
  margin-bottom: 34.5px;
  color: #717171;
  font-family: 'Hurme-Geometric-Sans-3-light';
  font-size: 1.8em;
  text-align: center;
  font-weight: 300;
  letter-spacing: 1.8px;
  word-spacing: -5px;
}

@media screen and (max-width: 1200px) {
  .header-title .small-title {
    font-size: 0.875em;
    padding: 0 40px;
    margin-top: 18.8px;
    margin-bottom: 15px;
    word-spacing: -3px;
  }
}

@media screen and (max-width: 410px) {
  .header-title .small-title {
    padding: 0 10px;
  }
}

.header-title .small-title svg {
  margin-bottom: -5px;
  margin-right: 5px;
  height: 36px;
  width: 36px;
}

@media screen and (max-width: 1200px) {
  .header-title .small-title svg {
    margin-bottom: -2.5px;
    height: 14px;
    width: 14px;
  }
}

.thank-you-wrapper #map {
  height: 270px;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .thank-you-wrapper #map {
    height: 180px;
  }
}

.thank-you-wrapper .order-wrapper {
  margin-top: 70px;
}

@media screen and (max-width: 1200px) {
  .thank-you-wrapper .order-wrapper {
    margin-top: 0;
  }
}

.thank-you-wrapper .map-wrapper {
  margin-bottom: 60px;
}

@media screen and (max-width: 1200px) {
  .thank-you-wrapper .map-wrapper {
    margin-bottom: 40px;
  }
}

.thank-you-wrapper .map-wrapper .map-bottom {
  border: 1px solid #CED4DA;
  padding: 23px 40px;
}

@media screen and (max-width: 1200px) {
  .thank-you-wrapper .map-wrapper .map-bottom {
    padding: 16px 26px;
  }
}

.thank-you-wrapper .map-wrapper .map-bottom .order-confirm {
  font-family: 'Hurme-Geometric-Sans-3-semibold';
  font-size: 22px;
  letter-spacing: 0.07px;
}

@media screen and (max-width: 1200px) {
  .thank-you-wrapper .map-wrapper .map-bottom .order-confirm {
    font-size: 18px;
  }
}

.thank-you-wrapper .map-wrapper .map-bottom .notice {
  font-size: 17px;
  letter-spacing: 0.05px;
}

@media screen and (max-width: 1200px) {
  .thank-you-wrapper .map-wrapper .map-bottom .notice {
    font-size: 14px;
  }
}

.thank-you-wrapper .shipment-wrapper .product {
  grid-template-columns: auto 1fr;
}

.thank-you-wrapper .shipment-wrapper .shipment-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

@media screen and (max-width: 576px) {
  .thank-you-wrapper .shipment-wrapper .shipment-top {
    flex-direction: column;
    align-items: flex-start;
  }
}

.thank-you-wrapper .shipment-wrapper .shipment-top p {
  font-size: 24px;
  letter-spacing: 0.07px;
}

@media screen and (max-width: 576px) {
  .thank-you-wrapper .shipment-wrapper .shipment-top p {
    margin-bottom: 19px;
  }
}

.thank-you-wrapper .shipment-wrapper .shipment-top .button {
  font-size: 23px;
  letter-spacing: 0px;
  padding: 12px 40px;
  border: 1px solid #000000;
  transition: all .25s ease-in-out;
}

.thank-you-wrapper .shipment-wrapper .shipment-top .button:hover, .thank-you-wrapper .shipment-wrapper .shipment-top .button:focus {
  background: #e4e4e4;
}

@media screen and (max-width: 576px) {
  .thank-you-wrapper .shipment-wrapper .shipment-top .button {
    padding: 12px 0;
    text-align: center;
    width: 100%;
  }
}

.thank-you-wrapper .shipment-product-wrapper {
  border: 1px solid #CED4DA;
  padding: 10px 40px;
  margin-bottom: 45px;
}

@media screen and (max-width: 1200px) {
  .thank-you-wrapper .shipment-product-wrapper {
    padding: 0px 40px;
    margin-bottom: 35px;
  }
}

@media screen and (max-width: 410px) {
  .thank-you-wrapper .shipment-product-wrapper {
    padding: 20px;
  }
}

.thank-you-wrapper .shipment-product-wrapper .product:last-child {
  border-bottom: 0;
}

.thank-you-wrapper .shipment-details-wrapper {
  border: 1px solid #CED4DA;
  padding: 28px 40px;
}

@media screen and (max-width: 410px) {
  .thank-you-wrapper .shipment-details-wrapper {
    padding: 20px;
  }
}

.thank-you-wrapper .shipment-details-wrapper .details-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 20px;
}

@media screen and (max-width: 576px) {
  .thank-you-wrapper .shipment-details-wrapper .details-wrapper {
    grid-template-columns: 1fr;
  }
}

.thank-you-wrapper .shipment-details-wrapper .title {
  font-size: 24px;
  letter-spacing: 0.05px;
  line-height: 30px;
  margin-bottom: 25px;
}

.thank-you-wrapper .shipment-details-wrapper .semibold-title {
  font-family: 'Hurme-Geometric-Sans-3-semibold';
  font-size: 16px;
  letter-spacing: 0.05px;
  line-height: 20px;
  margin-bottom: 9px;
}

.thank-you-wrapper .shipment-details-wrapper .detail {
  font-size: 14px;
  letter-spacing: 0.04px;
  line-height: 22px;
  font-family: 'Hurme-Geometric-Sans-3';
}

.thank-you-wrapper .order-title-wrapper {
  display: flex;
  margin: 45px 0;
  margin-left: -75.4px;
}

@media screen and (max-width: 1200px) {
  .thank-you-wrapper .order-title-wrapper {
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 30px;
  }
}

.thank-you-wrapper .order-title-wrapper svg {
  height: 52.4px;
  width: 52.4px;
  margin-right: 23px;
  fill: none;
  stroke: #000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2px;
}

.thank-you-wrapper .order-title-wrapper .order-title .order-number {
  font-size: 16px;
  letter-spacing: 0.05px;
}

.thank-you-wrapper .order-title-wrapper .order-title .greeting {
  font-size: 25px;
  letter-spacing: 0.07px;
}

.thank-you-wrapper .submit-button {
  margin-top: 45px;
  font-size: 18px;
  letter-spacing: 0px;
  padding: 16px 53px;
  width: max-content;
}

@media screen and (max-width: 576px) {
  .thank-you-wrapper .submit-button {
    margin-top: 35px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 320px) {
  .thank-you-wrapper .submit-button {
    padding: 16px 0;
    text-align: center;
    width: 100%;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Hurme-Geometric-Sans-3';
  src: url(/assets/fonts/HurmeGeometricSans3.otf);
}

@font-face {
  font-family: 'Hurme-Geometric-Sans-3-Black';
  src: url(/assets/fonts/HurmeGeometricSans3Black.otf);
}

@font-face {
  font-family: 'Hurme-Geometric-Sans-3-light';
  src: url(/assets/fonts/HurmeGeometricSans3Light.otf);
}

@font-face {
  font-family: 'Hurme-Geometric-Sans-3-bold';
  src: url(/assets/fonts/HurmeGeometricSans3Bold.otf);
}

@font-face {
  font-family: 'Hurme-Geometric-Sans-3-semibold';
  src: url(/assets/fonts/HurmeGeometricSans3SemiBold.otf);
}

body {
  font-family: 'Hurme-Geometric-Sans-3';
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

div[role="button"] {
  cursor: pointer;
}

.container {
  width: 100%;
  margin: 0 auto;
  height: 100%;
  padding: 0 30px;
}

@media screen and (max-width: 410px) {
  .container {
    padding: 0 10px;
  }
}

@media screen and (min-width: 576px) {
  .container {
    max-width: 576px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 992px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 3.5625rem;
  width: 100%;
  padding: 10px 0;
  background: #f6f6f6;
  color: #717171;
  position: absolute;
  bottom: 0;
}

@media screen and (max-width: 576px) {
  footer {
    flex-direction: column;
  }
}

footer .brand {
  font-size: 0.8125rem;
  font-weight: bold;
  letter-spacing: 0.8px;
  text-align: left;
  margin-bottom: 0px;
}

@media screen and (max-width: 576px) {
  footer .brand {
    margin-bottom: 10px;
  }
}

footer .footer-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: .875rem;
}

@media screen and (max-width: 576px) {
  footer .footer-menu {
    margin-left: 0rem;
  }
}

footer .footer-menu a {
  text-align: left;
  font-size: 0.8125rem;
  letter-spacing: 0.04px;
  font-size: .6875rem;
  padding: 0 .875rem;
  border-left: 1px solid #bdbdbd;
}

@media screen and (max-width: 410px) {
  footer .footer-menu a {
    margin-left: 0rem;
    padding: 0 .25rem;
  }
  footer .footer-menu a:first-child {
    padding-left: 0;
  }
  footer .footer-menu a:last-child {
    padding-right: 0;
  }
}

footer .footer-menu a:first-child {
  border-left: none;
}

@media screen and (max-width: 576px) {
  .mt-10 {
    margin-top: 10px;
  }
}
